body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  padding: 0 10px;
  color: #333;
}

a:link, a:visited {
  color: #4a43da;
  color: #047eaa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.active {
  text-decoration: underline;
}

main {
  clear: both;
  padding: 1em 0 3em;
}

header {
  position: relative;
}

.site-title {
  margin: 0.4em 0 0 15px;
}

.site-title a:link, .site-title a:visited {
  font-size: .5em;
}

.site-title a:hover, .site-title a:active {
  text-decoration: none;
}

.site-title span {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.strapline {
  position: absolute;
  top: 60px;
  left: 70px;
  font-size: .9em;
}

header nav {
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
}

.main-nav li a:link, .main-nav li a:visited {
  color: #333;
}

footer {
  border-top: 2px solid #ccc;
}

main h1 {
  font-size: 1.75em;
}

main h1 + h2 {
  margin-top: -0.5em;
}

main h2 {
  margin: 0 0 .25em;
}

main p {
  margin: 0 0 1em;
}

main ul {
  list-style: none;
}

main ul ul {
  margin-top: 5px;
  padding-left: 10px;
}

main li {
  padding: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
}

main ul ul li {
  padding-bottom: 5px;
}

main ul ul li:last-child {
  padding-bottom: 0;
}

main li:before {
  color: #f47d21;
  content: "\2022";
  position: absolute;
  top: 8px;
  left: -10px;
  font-size: 2em;
  line-height: .25;
}

.float-left {
  float: left;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.two-column > div {
  width: 50%;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.gray {
  color: #999;
}

.italic {
  font-style: italic;
}

.no-bottom-margin {
  margin-bottom: 0;
}



@media screen and (min-width: 1024px) {

  header, main, footer {
    width: 70%;
    margin: 0 auto;
  }

  article, footer p {
    padding: 0 15px;
  }

  .main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .main-nav li {
    float: left;
  }

  .main-nav li a:link, .main-nav li a:visited {
    display: block;
    text-align: center;
    padding: 15px;
    transition: background .2s;
    text-decoration: none;
  }

  .main-nav li a:hover {
      background-color: #ddd;

  }

  .active {
    background: #ddd;
    text-decoration: none;
  }

  nav {
    overflow: auto;
  }

}
